<html>
 <head>
 <link href="style.css" rel='stylesheet', type='text/css'>
 <title><%= @title || "Assignment 2"%></title>
 </head>
<body>
 <h1> Assignment 2 </h1>
<ul>
<li><a href='/'>Student</a> </li>
<li><a href='/comment'>Comment</a> </li>
<li><a href='/video'>Video</a> </li>
<li><a href='/login'>Login</a> </li>
 </ul>
<%= yield %>
</body>
 </html>
